.footer{
  padding-bottom: 30px;
  width: 100%;
  text-align: center;
  img{
    display: inline;
  }
  .footer-container{
    text-align: center;
  
  }


  .footer-logo{
    padding-top: 26px;
    padding-bottom: 21px;
    border-bottom: solid 1px #333;
  }
}

.footer-info{
  margin-top:42px;

}

.copy-text-cont{
  p{
    color: #696969;
    font-size: 14px;
    line-height: 1.6;
  }
  .copyright{
    margin-top: 14px;
  }
}

.footer-snsicon-cont{
  margin-top: 43px;
  
  .snsicon-ul{
    display: flex;
    justify-content: center;
    &>li{
      margin-right: 14px;
    }
  }
}


@media (max-width:$mobileBaseMaxSize) {
  .footer{
    padding-bottom: toRem(180);
    img{

    }
    .footer-container{
    
    
    }
  
  
    .footer-logo{
      padding-top: toRem(30);
      padding-bottom: toRem(24);
      img{
        width: toRem(200);
      }
    }
  }
  
  .footer-info{
    margin-top: toRem(42);
  }
  
  .copy-text-cont{
    p{
      font-size: toRem(22);
    }
    .copyright{
      margin-top: toRem(14);
    }
  }
  
  .footer-snsicon-cont{
    margin-top: toRem(50);
    
    .snsicon-ul{
      display: flex;
      justify-content: center;
      &>li{
        margin-right: toRem(16);
        img{
          width: toRem(70);
        }
      }
    }
  }
}