.header{
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  position: relative;
  .header-bg{
    z-index: -1;
    width: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(142deg, #700BBF 0%, #8E1096 45%, #92118F 100%);
    // height: 760px;
    height: 100%;
  }
  .header-bg-main-h{
    height: 760px;
  }

  .header-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    width: 1080px;
    padding-left: 76px;
    padding-right: 22px;
  }

}

.header-logo{
  padding-top: 4px;
  &>img{
    display: block;
  }
}

.top-menu-content{
  display: flex;
  align-items: center;
  padding-top: 10px;
  .top-menu-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    &>li{
      position: relative;
      padding:0 35px;
      &::after{
        position: absolute;
        content: "";
        background-color: #e1e1e1;
        width: 1px;
        height: 12px;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        //border-right: 1px solid #fff;
        border-right: none;
      }
      &:last-of-type::after{
        content: none;
      }

      a{
        color: #fff;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }

  .btn-box-branch{
    button{
      overflow: hidden;
      border-radius: 50%;
      background-color: salmon;
    }
    
  }
}

@media (max-width:$mobileBaseMaxSize) {
  .header{
    padding-top: 0;
    padding-bottom: toRem(40);
    .header-bg{
      height: toRem(2000);
    }
    .header-container{
      width: 100%;
      display: block;
      padding: 0;
    }
  }

  .header-logo{
    padding-top: toRem(24);
    padding-bottom: toRem(30);
    background-color: #fff;
    &>img{
      display: block;
    }
  }

  .top-menu-content{
    padding-top: toRem(38);
    justify-content: center;
    .top-menu-ul{
      
      &>li{
        padding:0 toRem(16);
        &::after{
          content: none;
        }
        a{
          font-size: toRem(30);
        }
      }
    }
  }

  .btn-box-branch{
    display: none;
  }
}