.header{
  width: 100%;
  text-align: center;

  .header-container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 600px;
  }

}

.header-logo{
  border-bottom: solid 1px #333;
}

.top-menu-content{
  .top-menu-ul{
    display: flex;
    justify-content: center;
    border-right: 1px solid #fff;
  }
}
