/*반응형*/
@media (max-width:750px) {
  
  .sect{
    .sect-container{
      width: 100%;
    }
    
  }

  .sect-ad-middle{
    .ad-middle-area{
      img{
        width: 100%;
      }
    }
  }

  .partner-list-cont{
    img{
    
    }
  }

  .intro-content{
    flex-direction: column;
  
    .intro-main{
      .text-area{
        width: toRem(442);
      }
    }
  }


  
}