.sect{
  width: 100%;
  text-align: center;
  .sect-container{
    //width: 800px;
    .title-area{
    }
  }
}
.sect-release{
  background-color: #ECEAEF;
}
.sect-special{
  //background-color: #ECEAEF;
}

.sect-ad-middle{
  background-color: #FFE866;
}

.sect-youtube{
  background-color: #ECEAEF;
}


.youtube-frame{
  width: 500px;
  height: 300px;
  border-radius: 20px;
}

.sect-intro{
  //background: rgb(2,0,36);
  background: linear-gradient(142deg, #700BBF 0%, #8E1096 60%, #92118F 100%);
  padding:40px 0;
}

.intro-content{
  display: flex;
  justify-content: center;
  .intro-main{
    background-color: #e46455;
  }
}

.in-info-content{
  background-color: #fff;
  width: 320px;
  box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.5);
  border-radius: 24px;
  padding: 26px;
  .in-info-area{
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    input{
      width: 100%;
      height: 46px;
      margin-bottom: 8px;
      background-color: #E5DDEC;
      border-radius: 6px;

      padding-left: 12px;

      font-size: 18px;

      &::placeholder{
        
      }

      &:first-of-type{
        margin-top: 24px;
      }

      &:last-of-type{
        margin-bottom: 22px;
      }
    }
    
  }

  .btn-car-quote{
    background-color: #92118F;
    width: 100%;
    height: 40px;
    border-radius: 24px;
    color: #fff;
    font-size: 20px;
  }
}