.page-main{
  .title-area{
    .title-main{
      color: #515151;
      font-size: 60px;
      font-weight: 500;
      
    }
    .title-sub{
      color: #747474;
      font-size: 26px;
      margin-top: 20px;
    }
  }

  .title-partner{
    display: flex;
    justify-content: center;
    .title-logo{
      margin-right: 25px;
    }
  }
}

.sect{
  width: 100%;
  text-align: center;
  .sect-container{
    width: 1080px;
    margin: 0 auto;
  }
}
.sect-release{
  background-color: #ECEAEF;
}
// .sect-special{
//   //background-color: #ECEAEF;
// }

.sect-ad-middle{
  background-color: #FFE866;
}

.sect-youtube{
  background-color: #ECEAEF;
}

.sect-partner{
  padding-top: 108px;
  padding-bottom: 84px;
}

.partner-list-cont{
  margin-top: 70px;   
}


.youtube-frame{
  width: 500px;
  height: 300px;
  border-radius: 20px;
}

.sect-intro{
  //background: rgb(2,0,36);
  background: linear-gradient(142deg, #700BBF 0%, #8E1096 60%, #92118F 100%);
  padding:40px 0;
}


/*메인_인트로 부분*/
.intro-content{
  display: flex;
  justify-content: space-between;
  padding-top: 75px;

  .intro-main{
    border-radius: 37px;
    //background: url("img/main/main_intro.png") no-repeat;
    position: relative;
    overflow: hidden;
    background-color: salmon;
    box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.3);
  }
}

.in-info-content{
  background-color: #fff;
  width: 346px;
  box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.3);
  border-radius: 24px;
  padding: 26px;

  .info-title{
    font-size:22px;
    letter-spacing: -1.4px;
    font-weight: 500;
  }
  
  .in-info-area{
    display: flex;
    flex-wrap: wrap;
    width: 290px;
    input{
      width: 100%;
      height: 46px;
      margin-bottom: 8px;
      background-color: #E5DDEC;
      border-radius: 8px;

      padding-left: 18px;

      color: #222;
      font-size: 20px;
      letter-spacing: -0.2px;

      &::placeholder{
        color: #736276;
        letter-spacing: -1px;
      }

      &:first-of-type{
        margin-top: 38px;
      }

      &:last-of-type{
        margin-bottom: 22px;
      }
    }
    
  }

  .btn-car-quote{
    background-color: #92118F;
    width: 100%;
    height: 48px;
    border-radius: 24px;
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
  }
}


.sect-ad-bottom{
  height: 268px;
  background-image: url("../../img/main/ad_bottom.png"), linear-gradient(to right, #700bbf 50%, #92118F 50%);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: auto, auto;
}