/*반응형*/
@media (max-width:750px) {
  
  .sect{
    .sect-container{
      width: 100%;
    }
    
  }

  .sect-ad-middle{
    .ad-middle-area{
      img{
        width: 100%;
      }
    }
  }

  .partner-list-cont{
    img{
      width: 100%;
    }
  }

  .intro-content{
    flex-direction: column;
  
    .intro-main{
      .text-area{
        width: toRem(442);
      }
    }
  }

  .review-ul{
    //justify-content: space-around;
    .review-area{
      width: toRem(314);
      &:nth-child(n+3){
        display: none;
      }
      .img-area{
        img{
          width: 100%;
        }
      }
    }
  }
  
}