.sidebar-wrap{
  position: fixed;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  margin: 0 auto;
  .sidebar-container{
    position: absolute;
    top: 134px;
    left: 570px;
    width: fit-content;
    // .sidebar-ul{
    //   //transform: translateY(-40%);
    // }
  }

  .sidebar-ul{
    text-align: center;
    li{
      margin-bottom: 12px;
      &:nth-of-type(1){
        margin-bottom: 16px;
      }

    }
  }
}

@media (max-width:$mobileBaseMaxSize){
  .sidebar-wrap{
    display: none;
  }
}