extends ../../template/layout_sub

block content
  main(class="wrap-container page-order")
    p 주문내역
    ul 
      li 

    div 
      p 배송정보
      ul 
        li
          p 받으시는 분
          input(type="text")
        li 
          p 주소
          input(type="text")
        li
          p 이메일
          input(type="text")