doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //메타
    meta(name="description" content="HTML meta tag page")

    link(rel="stylesheet", href="static/css/style.css")
    script(src="static/js/common.js") 
    title Careasy

  body(class="body")
    div(class="wrap")
      include ../include/topAd

      include ../include/header

      block content

      include ../include/footer
