extends ../../template/layout_sub



block content
  main(class="wrap-container page-sub-intro")
    section(class="sect intro-sect-main")
      div(class="sect-container")


    section(class="sect intro-sect-cont01")
      div(class="sect-container")
        //div(class="sect-content")
          img(src=`${imgPath}/sub/intro/page_intro_cont01.jpg`, alt="이미지")

    section(class="sect intro-sect-cont04")
      div(class="sect-container")
        //div(class="sect-content"): img(src=`${imgPath}/sub/intro/page_intro_cont04.jpg`, alt="이미지")