.intro-sect-cont01{
  background-image: url("../../img/sub/intro/page_intro_cont01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 863px;
  .sect-content{ 
  }
}

.intro-sect-cont04{

}