mixin snsIcon()
  li

footer.footer 
  div.footer-logo
      img(src="", alt="로고")
  div.footer-info  
    div.copy-text-cont
      div 회사면
      p 
      p.copyright copyright &copy careasyCorp.All rights reserved.
    div.footer-snsicon-cont
      ul
        li 카톡
        li 블로그
        li 유튜브
        li 인스타그램