
aside.sidebar-wrap
  div.sidebar-container
    div.sidebar-content
      ul.sidebar-ul
        li: button(class="fn-open-modal-quote")
          img(src=`${imgPath}/main/aside_btn_quote.png`, alt="견적 문의하기")
        li: a(href="#none")
          img(src=`${imgPath}/main/aside_btn_katalk.png`, alt="카카오톡 문의")
        li: a(href="#none")
          img(src=`${imgPath}/main/aside_btn_lodgment.png`, alt="숙박신청")